.title
{
	text-align: center;
	font-size: 750%;
  	color: #004455;
   	text-shadow:
       3px 3px 0 #2233ff,
     -1px -1px 0 #223344,
      1px -1px 0 #223344,
      -1px 1px 0 #223344,
       1px 1px 0 #223344;
	-webkit-text-stroke: 1px #0088cc;
	text-shadow: 0px 1px 5px #002233;
}

.subtitle
{
	text-align:center;
	color: #0f8090;
	font-size: 200%;
}

.minititle
{
	text-align:center;
	color: #0f90a0;
	font-size: 150%;
}

.text
{
	text-indent: 2em;
	color: #0090d0;
	font-size: 150%;
	padding: 0 2.5em 0 2.5em;
}