**/.DS_Store
**/Thumbs.db
maya/images/**
maya/movies/**
maya/cache/**
*.mcx
maya/renderman/**
maya/renderData/**
maya/autosave/**
maya/shots/body/working_pour.mb
maya/shots/body/working_pour_cat.mb
maya/assets/props/Soap/soap_4import.mb
*.swatch
*.swp
